<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../../images/logo.png">
    <link rel="icon" type="image/png" href="../../images/logo.png">
    <title>
        Emagrecendo Com Ela
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts and icons -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="../stylesheets/nucleo-icons.css" rel="stylesheet" />
    <link href="stylesheets/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="../../stylesheets/material-dashboard.css?v=3.0.0" rel="stylesheet" />
    <link rel="stylesheet" href="../../path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="../../stylesheets/style.css">
    <link rel="stylesheet" href="../../stylesheets/alert.css" >
    <link rel="stylesheet" href="../../stylesheets/mobile/produtos_view/addProdutos.css">
</head>

<body class="g-sidenav-show  bg-gray-200">
    <input id="Id_User" value="<%= Id_User %>" type="text" style="display: none">

    <aside
        class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
        id="sidenav-main">
        <div class="sidenav-header text-center">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
                aria-hidden="true" id="iconSidenav"></i>
                <a class=" m-0 " href="/users?user=<%= Id_User %>">
                    <img src="../../images/logo.png" class=" h-100" alt="main_logo">
                </a>
        </div>
        <hr class="horizontal light mt-0 mb-2">
        <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/users?user=<%= Id_User %>">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">dashboard</i>
                        </div>
                        <span class="nav-link-text ms-1">Dashboard</span>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link text-white " href="/admin/financeiro?user=<%= Id_User %>">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">assignment</i>
                        </div>
                        <span class="nav-link-text ms-1">Financeiro</span>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link text-white active bg-gradient-primary" href="/admin/produtos?user=<%= Id_User %>">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">store</i>
                        </div>
                        <span class="nav-link-text ms-1 text-dark">Produtos</span>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link text-white " href="/admin/pedidos?user=<%= Id_User %>">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">shopping_basket</i>
                        </div>
                        <span class="nav-link-text ms-1">Pedidos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="/admin/usuarios?user=<%= Id_User %>">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">person</i>
                        </div>
                        <span class="nav-link-text ms-1">Usuários</span>
                    </a>
                </li>
    
            </ul>
        </div>
    </aside>
    <main class="main-content position-relative  border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
            navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Páginas</a>
                        </li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page"><a class="text-dark" href="/admin/produtos?user=<%= Id_User %>">Produtos</a></li>
                    </ol>
                    <h6 class="font-weight-bolder mb-0">Dashboard</h6>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        
                    </div>

                    <!-- Menu superior Icon -->
                    <ul class="navbar-nav  justify-content-end">
                        <li class="nav-item dropdown d-flex align-items-center">
                            <a href="" class="nav-link text-body font-weight-bold px-0" id="dropdownMenuButton_user"
                             aria-expanded="false" data-bs-toggle="dropdown">
                                <span class="material-symbols-outlined">
                                    person
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end  px-2 py-3 me-sm-n4"
                                aria-labelledby="dropdownMenuButton_user">
                                    <li>
                                        <a class="dropdown-item border-radius-md align-middle" href="/users/editarPerfil/?user=<%= Id_User %>&funcao=admin">
                                            <span class="material-symbols-outlined align-middle">settings </span> Editar
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item border-radius-md align-middle" href="/users/sair/?user=<%= Id_User %>">
                                            <span class="material-symbols-outlined align-middle">login</span> Sair
                                        </a>
                                    </li>
                            </ul>
                        </li>

                        <li class="nav-item d-xl-none px-1 pb-1 d-flex align-items-center">
                            <a class="nav-link text-body p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </a>
                        </li>
                        <!-- <li class="nav-item px-2 d-flex align-items-center">
                            
                        </li> -->
                        <li class="nav-item dropdown pe-2 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton"
                                 aria-expanded="false" data-bs-toggle="dropdown"> <!-- data-bs-toggle="dropdown" -->
                                <span id="SemNotificacao" class="material-symbols-outlined pb-1">
                                    notifications
                                </span>
                                <span id="TemNotificacao" class="material-symbols-outlined pb-1" style="display: none;">
                                    notification_important
                                </span>
                            </a>
                            <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4"
                                aria-labelledby="dropdownMenuButton" id="DivAlertas">
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        <div class="row justify-content-center">
            <div class="col-md-10 bg-light mt-4">
                <form class="border border-light p-5" enctype="multipart/form-data" id="productForm" method="post"
                    action="/apiProdutos/adicionarProduto?user=<%= Id_User %>">
                    
                    <p class="h4 mb-4 text-center">Novo Produto</p>
        
                    <!-- Nome do produto -->
                    <div class="form-group">
                        <label for="Nome_produto" class="fs-6 fw-bold ">Nome do produto</label>
                        <input id="Nome_produto" type="text" name="nomeProduto" class="form-control mb-4 "
                            placeholder="Ex: Emagrecedor" required>
                    </div>
        
                    <!-- Descrição do produto -->
                    <div class="form-group">
                        <label for="Descricao_produto" class="fs-6 fw-bold ">Descrição do produto</label>
                        <input id="Descricao_produto" type="text" name="descricaoProduto" class="form-control mb-4 "
                            placeholder="Ex: emagrecedor masculino" required>
                    </div>
        
                    <!-- Quantidade em estoque -->
                    <div class="form-group">
                        <label for="Quantidade_produto" class="fs-6 fw-bold ">Quantidade em estoque</label>
                        <input id="Quantidade_produto" type="number" name="quantidadeProduto" class="form-control mb-4 "
                            placeholder="Ex: 50" aria-describedby="defaultRegisterFormPhoneHelpBlock" required>
                    </div>
        
                    <!-- Preço do produto -->
                    <div class="form-group">
                        <label for="Preco_produto" class="fs-6 fw-bold ">Preço do produto</label>
                        <input id="Preco_produto" type="text" name="precoProduto" class="form-control mb-4 "
                            placeholder="Ex: R$ 250,99" aria-describedby="defaultRegisterFormPhoneHelpBlock" required data-mask="currency">
                    </div>
        
                    <!-- Preço para Distribuidor -->
                    <div class="form-group">
                        <label for="Preco_produto_Distribuidor" class="fs-6 fw-bold ">Preço para Distribuidor</label>
                        <input id="Preco_produto_Distribuidor" type="text" name="precoProdutoDistribuidor"
                            class="form-control mb-4 " placeholder="Ex: R$ 250,99"
                            aria-describedby="defaultRegisterFormPhoneHelpBlock" required data-mask="currency">
                    </div>

                    <!-- Preço para Representante -->
                    <div class="form-group">
                        <label for="Preco_produto_Representante" class="fs-6 fw-bold ">Preço para Representante</label>
                        <input id="Preco_produto_Representante" type="text" name="precoProdutoRepresentante" class="form-control mb-4 "
                            placeholder="Ex: R$ 250,99" aria-describedby="defaultRegisterFormPhoneHelpBlock" required data-mask="currency">
                    </div>
        
                    <!-- Preço para Vendedor -->
                    <div class="form-group">
                        <label for="Preco_produto_Vendedor" class="fs-6 fw-bold ">Preço para Vendedor</label>
                        <input id="Preco_produto_Vendedor" type="text" name="precoProdutoVendedor" class="form-control mb-4 "
                            placeholder="Ex: R$ 250,99" aria-describedby="defaultRegisterFormPhoneHelpBlock" required data-mask="currency">
                    </div>
        
                    <!-- Preço de custo do produto -->
                    <div class="form-group">
                        <label for="preco_custo" class="fs-6 fw-bold ">Preço de custo do produto</label>
                        <input id="preco_custo" type="text" name="precoCusto" class="form-control mb-4 "
                            placeholder="Ex: R$ 100,00" aria-describedby="defaultRegisterFormPhoneHelpBlock" required data-mask="currency">
                    </div>

                    <!-- Imagem do produto -->
                    <div class="form-group">
                        <label for="Imagem_produto" class="fs-6 fw-bold">Imagem do produto</label>
                        <input id="Imagem_produto" type="file" name="imagemProduto" class="form-control mb-4 " accept="image/*">
                    </div>

                    <!-- <div class="form-group">
                        <label for="categoriaProdutos" class="fs-6 fw-bold">Categoria</label>
                        <select name="categoriaProdutos" id="categoriaProdutos" class="form-control mb-4">
                            <option disabled selected value="">Selecione a categoria</option>
                            <option value= 1 >Produto</option>
                            <option value= 2 >Material</option>
                            <option value= 3 >Brinde</option>
                        </select>
                    </div> -->
        
                    <button id="Bt_submit" class="btn btn btn-success my-4 btn-block" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>

    <a href="/admin/produtos?user=<%= Id_User %>" class="ms-3">
        <button type="button" class="btn btn-primary btn-l mt-5" style="background-color: #e91e63;">Voltar</button>
    </a>

        <footer class="footer py-4  ">
            
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-4 mb-lg-0 mb-4">
                        <div class="copyright text-center text-sm text-muted text-lg-start">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>,
                            <i class="fa fa-heart"></i>
        
                            Emagrecendo
                                com Ela
                        </div>
                    </div>
                </div>
            </div>
        </footer>

      



    <!--   Core JS Files   -->
    <script src="https://unpkg.com/imask"></script>
    <script src="../../javascripts/core/popper.min.js"></script>
    <script src="../../javascripts/core/bootstrap.min.js"></script>
    <script src="../../javascripts/plugins/perfect-scrollbar.min.js"></script>
    <script src="../../javascripts/plugins/smooth-scrollbar.min.js"></script>
    <script src="../../javascripts/plugins/chartjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Script -->
    <script src="../../javascripts_proprios/infoProduto.js"></script>
    <script src="../../javascripts_proprios/alertas/admin/alertasGerais.js"></script>

    <script>
        var ctx = document.getElementById("chart-bars").getContext("2d");

        new Chart(ctx, {
            type: "bar",
            data: {
                labels: ["M", "T", "W", "T", "F", "S", "S"],
                datasets: [{
                    label: "Sales",
                    tension: 0.4,
                    borderWidth: 0,
                    borderRadius: 4,
                    borderSkipped: false,
                    backgroundColor: "rgba(255, 255, 255, .8)",
                    data: [50, 20, 10, 22, 50, 10, 40],
                    maxBarThickness: 6
                },],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                            borderDash: [5, 5],
                            color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 500,
                            beginAtZero: true,
                            padding: 10,
                            font: {
                                size: 14,
                                weight: 300,
                                family: "Roboto",
                                style: 'normal',
                                lineHeight: 2
                            },
                            color: "#fff"
                        },
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                            borderDash: [5, 5],
                            color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                            display: true,
                            color: '#f8f9fa',
                            padding: 10,
                            font: {
                                size: 14,
                                weight: 300,
                                family: "Roboto",
                                style: 'normal',
                                lineHeight: 2
                            },
                        }
                    },
                },
            },
        });


        var ctx2 = document.getElementById("chart-line").getContext("2d");

        new Chart(ctx2, {
            type: "line",
            data: {
                labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Mobile apps",
                    tension: 0,
                    borderWidth: 0,
                    pointRadius: 5,
                    pointBackgroundColor: "rgba(255, 255, 255, .8)",
                    pointBorderColor: "transparent",
                    borderColor: "rgba(255, 255, 255, .8)",
                    borderColor: "rgba(255, 255, 255, .8)",
                    borderWidth: 4,
                    backgroundColor: "transparent",
                    fill: true,
                    data: [50, 40, 300, 320, 500, 350, 200, 230, 500],
                    maxBarThickness: 6

                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                            borderDash: [5, 5],
                            color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                            display: true,
                            color: '#f8f9fa',
                            padding: 10,
                            font: {
                                size: 14,
                                weight: 300,
                                family: "Roboto",
                                style: 'normal',
                                lineHeight: 2
                            },
                        }
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false,
                            borderDash: [5, 5]
                        },
                        ticks: {
                            display: true,
                            color: '#f8f9fa',
                            padding: 10,
                            font: {
                                size: 14,
                                weight: 300,
                                family: "Roboto",
                                style: 'normal',
                                lineHeight: 2
                            },
                        }
                    },
                },
            },
        });

        var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");

        new Chart(ctx3, {
            type: "line",
            data: {
                labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Mobile apps",
                    tension: 0,
                    borderWidth: 0,
                    pointRadius: 5,
                    pointBackgroundColor: "rgba(255, 255, 255, .8)",
                    pointBorderColor: "transparent",
                    borderColor: "rgba(255, 255, 255, .8)",
                    borderWidth: 4,
                    backgroundColor: "transparent",
                    fill: true,
                    data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
                    maxBarThickness: 6

                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                            borderDash: [5, 5],
                            color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                            display: true,
                            padding: 10,
                            color: '#f8f9fa',
                            font: {
                                size: 14,
                                weight: 300,
                                family: "Roboto",
                                style: 'normal',
                                lineHeight: 2
                            },
                        }
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false,
                            borderDash: [5, 5]
                        },
                        ticks: {
                            display: true,
                            color: '#f8f9fa',
                            padding: 10,
                            font: {
                                size: 14,
                                weight: 300,
                                family: "Roboto",
                                style: 'normal',
                                lineHeight: 2
                            },
                        }
                    },
                },
            },
        });
    </script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
   <!-- Github buttons -->
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../../javascripts/material-dashboard.min.js?v=3.0.0"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var priceInputs = document.querySelectorAll('input[data-mask="currency"]');
            priceInputs.forEach(function (input) {
                IMask(input, {
                    mask: 'R$ num',
                    blocks: {
                        num: {
                            // nested masks are available!
                            mask: Number,
                            thousandsSeparator: '.',
                            radix: ',',
                            mapToRadix: ['.'],
                            scale: 2,
                            signed: false,
                            padFractionalZeros: true,
                            normalizeZeros: true,
                            min: 0,
                            max: 9999999.99
                        }
                    }
                });
            });
        });
    </script>
</body>

</html>